<html>
  <body>
    <ul class="list-group">
      <li style="list-style:none;">
        <a class="list-group-item" data-sw-href="sw/path" href="#">
          <h3 data-sw-text="title">placeholder for title</h3>
          <div data-sw-text="summary-html">
            placeholder for summary-html
          </div>
        </a>
        <div class="footer">
          <span data-sw-text="author">placeholder for author</span>
          <!-- <span data-sw-text="published-date">placeholder for published-date</span> -->
          <a class="pull-right" data-sw-data-disqus-identifier="sw/name" data-sw-href="sw/path#disqus_thread" href="#">
            Comments
          </a>
        </div>
      </li>
    </ul>
  </body>
</html>
